<div class="main-signup-container">
  <div class="signup-container">
    <h2>Sign Up</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
      <div class="form-group">
        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="form-control"
          placeholder="Enter your name"
        />
        <div
          *ngIf="
            signupForm.controls['name'].invalid &&
            signupForm.controls['name'].touched
          "
        >
          <small class="error">Name is required</small>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
          placeholder="Enter your email"
        />
        <div
          *ngIf="
            signupForm.controls['email'].invalid &&
            signupForm.controls['email'].touched
          "
        >
          <small class="error">Please enter a valid email</small>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
          placeholder="Enter your password"
        />
        <div
          *ngIf="
            signupForm.controls['password'].invalid &&
            signupForm.controls['password'].touched
          "
        >
          <small class="error">Password is required (min. 6 characters)</small>
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          class="form-control"
          placeholder="Confirm your password"
        />
        <div
          *ngIf="signupForm.errors?.['passwordMismatch'] && signupForm.controls['password'].touched"
        >
          <p>Passwords do not match.</p>
        </div>
      </div>

      <div class="form-group">
        <label for="address">Address:</label>
        <input
          type="text"
          id="address"
          formControlName="address"
          class="form-control"
          placeholder="Enter your address"
        />
        <div
          *ngIf="
            signupForm.controls['address'].invalid &&
            signupForm.controls['address'].touched
          "
        >
          <small class="error">Address is required</small>
        </div>
      </div>

      <div class="form-group">
        <label for="phoneNumber">Phone Number:</label>
        <input
          type="number"
          id="phoneNumber"
          formControlName="phoneNumber"
          class="form-control"
          placeholder="Enter your phone number"
        />
        <div
          *ngIf="
            signupForm.controls['phoneNumber'].invalid &&
            signupForm.controls['phoneNumber'].touched
          "
        >
          <small class="error">Phone Number is required</small>
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="signupForm.invalid"
      >
        Sign Up
      </button>
      <div *ngIf="message" class="alert">
        {{ message }}
      </div>
    </form>
    <p>Already have an account? <a href="/login">Login here</a></p>
  </div>
</div>
